body{
    background-color: rgb(197, 190, 190);
}
/* Adiciona espaço interno e borda aos inputs */
.form-control {
    border: 2px solid black; /* Borda preta de 2px */
    box-sizing: border-box;
    height: 60px;
}

/* Adiciona padding ao redor da row */
.container {
    padding-top: 10px;
    padding-left: 10px;
}

.solid-border {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    padding-right: 10px;
    height: 136px;
}

.center-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.borda-fraca {
    border: 1px solid #888; /* Borda mais fina e com cor cinza escuro */
    padding: 10px;
    border-radius: 5px;
}
.altura-texto {
    height: 140px;
}
.centered-title {
    border: 2px solid black;
    padding: 10px; /* Ajuste o valor conforme necessário */
    border-radius: 5px; /* Valor da borda arredondada */
    width: fit-content; /* Adapta a largura ao conteúdo */
    text-align: center
}

.altura-texto2 {
    height: 120px;
}

.titulo-secundario {
    border-bottom: 0 ;
    text-align: center;
}

.altura-borda {
    height: 40px;
    border: 1px solid black;
}

.elemento {
    display: inline-block;
    border: 2px solid black; /* Borda ao redor do elemento */
    padding: 10px; /* Espaço interno, opcional */
    border-radius: 5px;
}
.espacamento {
    margin-top: 10px;
}

.custom-border {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

    .cinza-aprovacao {
        background-color: #dcdfe0;     
    }

.label-cinza {
    color: #494f53;
}

.botao-aceitacao{
    text-align: center;
    margin-top: 15px;
}

/*---------------------------------------------------VIAGENS/MINHAS VIAGENS--------------------------------------------------------------*/

.botao {
    text-align: right;
    margin-right: 235px;
    margin-bottom: 15px;
}

.color-grey{
    background-color: rgb(182, 177, 177);
    border-radius: 5px;
}

.barra-pesquisa{
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
}

.table-sm td, .table-sm th {
    padding: 0.2rem; /* Ajuste esse valor para o tamanho desejado */
    text-align: center;
    border-radius: 5px;
}



